<div class="container message">
  <div class="row">
      <div class="col-sm-2 ava">
        <%= image_tag "#{message.user.image.avatar}", class:'ava' %>
      </div>
      <div class="col-sm-7 details">        
        <p>
          <span class="text-muted text-center mes-body"><%= message.body %></span><br>          
          <span class="name"><%= message.user.name %></span>          
        </p>
      </div>
      <div class="col-sm-3"> 
        <p class="date"> <%= message.timestamp %></p>
      </div>
    </div>
</div>
.container.message

