// Place all the styles related to the authorizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.custom-height{
  height:100px;
  color:#ffffff;
}
.g_icon {
  width: 50px;
}
.signuppers{
  float:right;
}
.label-hidden{
  display:none;
}
.custom-login{
  margin-right: 10%;
  padding-right: 10%;
}

